.container {
  background-color: #c0c4cc;
  .nav-left {
    background-color: #001529;
    min-height: 100vh;
  }
  .main {
    width: 100%;
    //background-color: aliceblue;
    padding: 12px;
  }
  .footer {
    height: 4vh;
    //background-color: blue;
    padding: 0px;
  }
}
